# 8:30 to 9
30-59/1 13 * * 1-5 /usr/local/bin/python /code/scripts/pop_db.py >> /var/log/cron.log 2>&1

# 9 to 3
 * 14-19 * * 1-5 /usr/local/bin/python /code/scripts/pop_db.py >> /var/log/cron.log 2>&1
 
# cron requires blank last line
