{% extends "asset_tracking/base.html" %}

{% block content %}

<style>
</style>

<div>
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Symbol">
      
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
</div>

<script>
</script>

{% endblock %}