<style>
	a {
		font-size: 11pt;
		color: #4f85d1;
	}

	a > p {
		font-size: 11pt;
		color: #4f85d1;
	}

	.nav-header {
        color: #999999;
		font-weight: bold;
		font-size: 8pt;
		text-transform: uppercase;
		margin: 1.5em 0em 0.25em 1.5em;
    }
</style>

<li class='nav-header'>
    Algos
</li>
<li> 
    <a href='/algos/' class=" btn btn-light btn-block rounded-0 p-0">
        <p class=" mx-4 m-0 text-left">Algo List</p>
    </a>
</li>
<li> 

    <a href='/algos/trades_on' class=" btn btn-light btn-block rounded-0 p-0">
        <p class="mx-4 m-0 text-left">Asset Trades</p>
    </a>
 
</li>